<div class="mainbox">
<div class="box">
    <div class="list"><p>Bad words: <span class="words"></span></p></div>
    <div class="forma">
    <input class="input_text" type="text" placeholder="word here..">
    <input class="add_btn" type="button" value="Add" (click)="AddWord()"> 
    <input class="reset_btn" type="button" value="Reset" (click)="ResetWords()">
    </div>
    <div class="text">
    <textarea class="area" name="" id="" cols="30" rows="10" placeholder="text here.."></textarea>
    </div>
    <input class="cenzor_btn" type="button" value="Cenzor" (click)="CenzorText()">
</div>
</div>