<div class="cntainer">
    <div class="box">
        <div class="picture Cenzor">
        </div>
        <div class="text">Angular list of prohibited words</div>
        <div class="btn"><button [routerLink]="[ '/work/cenzor' ]">DETAILS</button></div>
    </div>
    <div class="box">
        <div class="picture Users"></div>
        <div class="text">Angular users list</div>
        <div class="btn"><button [routerLink]="['/work/userlist']">DETAILS</button></div>
    </div>
    <div class="box">
        <div class="picture Task"></div>
        <div class="text">Angular task list</div>
        <div class="btn"><button [routerLink]="['/work/task']">DETAILS</button></div>
    </div>
</div>